---
layout: default
title: JavaScript
subtitle: Lorem Ipsum dolor amet sit ...
slug: javascript
icon: icon-javascript.png
---

<hgroup class="message message-javascript">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="{{ site.url }}/assets/img/{{ page.icon }}" />
        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle}}</p>
      </div>
    </div>
  </div>
</hgroup>


{% for jsLink in site.data.jsData %}
<section class="overview {% cycle 'one', 'two', 'three' %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article class="link-panel">
          <h2>{{ jsLink.title }}</h2>
          <p>{{ jsLink.description }}</p>

          <div class="links">
          {% if jsLink.links %}
            {% for link in jsLink.links %}
              <a href="{{link.url}}" title="{{link.urlName}}" class="btn btn-default">{{link.urlName}}</a>
            {% endfor %}
          {% endif %}
          </div>
        </article>
      </div>

    </div>
  </div>
</section>
{% endfor %}