.posts {
  margin-bottom: 24px;
}

.post-panel {
  height: 260px;
  background-color: @blue-gray-lightestx3;
  border: 1px solid @blue-gray-lightestx1;
  border-radius: @border-radius-base;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  .post-banner {
    height: 80px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid @brand-warning;
    background-color: @blue-gray-light12;
    .glyphicon {
      color: @white;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 40px;
    }
  }
  h3 {
    margin-top: 20px;
    padding: 0 18px 0 18px;
    a:hover {
      text-decoration: none;
    }
  }
  p {
    padding: 0 18px 0 18px;
  }
  .small {
    color: @blue-gray-lightest;
  }
}

.overview {
  background-color: @blue-gray-lightestx2;
  padding-bottom: 20px;
  padding-top: 20px;
}
  .one { background-color: @blue-gray-lightestx3; }
  .two { background-color: @blue-gray-lightestx2; }
  .three { background-color: @blue-gray-lightestx57; }

.link-panel {
  background-color: @white;
  border-radius: @border-radius-base;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  padding: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  .btn {
    margin-bottom: 5px;
  }
  h2 {
    padding-bottom: 18px;
    margin: 0 0 20px;
    border-bottom: 1px solid @brand-primary;
  }
  p {
    margin: 0 0 20px;
  }
}