.posts {
  margin-bottom: 24px;
}

.post-panel {
  height: 260px;
  background-color: @blue-gray-lightestx3;
  border: 1px solid @blue-gray-lightestx2;
  .post-banner {
    height: 80px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid @brand-warning;
    background-color: @blue-gray-lighter;
    .glyphicon {
      color: @white;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 40px;
    }
  }
  h3 {
    margin-top: 20px;
    padding: 0 18px 0 18px;
    a:hover {
      text-decoration: none;
    }
  }
  p {
    padding: 0 18px 0 18px;
  }
  .small {
    color: @blue-gray-lightest;
  }
}